[user]
	email = cosmedaniel8@gmail.com
	name = Daniel Cosme
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper =
{{if eq .chezmoi.os "darwin"}}
	helper = !/opt/homebrew/bin/gh auth git-credential
{{else}}
	helper = !/usr/bin/gh auth git-credential
{{end}}

